<div class="form-container">
    <div class="form">
        <div class="form-header">
            <span class="span-header"> Login </span>
        </div>
        <form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)">
            <div class="row">
                <div class="gg-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="text" matInput placeholder="ajuda.brasil@exemplo.com" name="email" required ngModel
                            #emailControl="ngModel" appEmailValidator />
                        <mat-icon matSuffix>alternate_email</mat-icon>
                        <mat-hint>realizar login.</mat-hint>
                        <mat-error *ngIf="emailControl.hasError('required')">O email <strong>deve ser
                                preenchido</strong>.</mat-error>
                        <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">O
                            email
                            está <strong>fora do padrão</strong>.</mat-error>
                    </mat-form-field>
                </div>
                <div class="gg-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput #senhaControl="ngModel" ngModel name="senha"
                            [type]="hide() ? 'password' : 'text'" />
                        <button mat-icon-button matSuffix (click)="clickEvent($event)"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
                <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header color-Toast-header">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="error"></mat-icon>
                        <strong class="me-auto">Usuário não encontrado</strong>
                        <small>{{ this.dateNow()}}</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body color-Toast-body">
                        Não existe login para este e-mail.
                    </div>
                </div>
            </div>
            <div class="buttons-container">
                <div class="button-2">
                    <button type="button-2" class="btn btn-success btn-sm"
                        (click)="routerClick('/form-ong')">Cadastrar-me</button>
                </div>
                <div class="button-1">
                    <button type="submit" class="btn btn-warning btn-sm" [disabled]="meuForm.invalid"> Login
                    </button>
                </div>

            </div>

        </form>
    </div>
</div>
<app-header *ngIf="false" [userLogado]="usuarioLogadoInput"></app-header>