<div class="container-ong">
   <div class="container-table-component">
      <div class="table-head">
         <div class="title-h3">
            <h3>Relatório [campo dinamico]</h3>
         </div>

      </div>
      <div class="table">
         <mat-form-field class="custom-input">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Nome" #input>
         </mat-form-field>

         <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

               <ng-container matColumnDef="nome">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ONG </th>
                  <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
               </ng-container>

               <ng-container matColumnDef="cpfOrCnpj">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF/CNPJ </th>
                  <td mat-cell *matCellDef="let row"> {{row.cpfOrCnpj}} </td>
               </ng-container>

               <ng-container matColumnDef="cep">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CEP </th>
                  <td mat-cell *matCellDef="let row"> {{row.cep}} </td>
               </ng-container>

               <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let row"> {{row.email}} </td>
               </ng-container>

               <ng-container matColumnDef="telefone">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
                  <td mat-cell *matCellDef="let row"> {{row.telefone}} </td>
               </ng-container>

               <ng-container matColumnDef="cidade">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cidade </th>
                  <td mat-cell *matCellDef="let row"> {{row.cidade}} </td>
               </ng-container>

               <ng-container matColumnDef="tipo_doacao">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Doação Desejada </th>
                  <td mat-cell *matCellDef="let row"> {{row.tipo_doacao}} </td>
               </ng-container>

               <tr  class="tr-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr  class="tr-body" mat-row  *matRowDef="let row; columns: displayedColumns; " (click)="openDialog('200ms', '150ms', row.cpfOrCnpj)"></tr>

               <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">Não há dados para o filtro selecionado "{{input.value}}"</td>
               </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
         </div>

      </div>
   </div>

</div>