.utils {
    width: 100%;
    height: 7%;
    background-color: #007924;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.navegate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    height: 50px;
    overflow: hidden;
    font-family: "Happy Monkey", system-ui;
    font-weight: 600;
    font-size: 11px;
    color: #585858;

    span:hover {
        color: #53ba59;
        cursor: pointer;
    }
}

.img {
    background-image: url('../../ajuda_brasil_logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 15%;
    width: 118px;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    top: -25px;
    right: 23%;

}

.img:hover {
 cursor: pointer;
    
}


.image-icos {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    .image-1 {
        height: 23px;
        width: 23px;
        background-image: url('../../icons8-instagram-100.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1%;
    }

    .image-1:hover {
        transition: 0.5s;
        height: 24px;
        width: 24px;
        background-color: #f3f5ec;
        cursor: pointer;
        border-radius: 3px;
    }

    .image-2 {
        height: 23px;
        width: 23px;
        background-image: url('../../icons8-x-96.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1%;
    }

    .image-2:hover {
        transition: 0.5s;
        height: 24px;
        width: 24px;
        background-color: #f3f5ec;
        cursor: pointer;
        border-radius: 2px;
    }

    .image-3 {
        height: 23px;
        width: 23px;
        background-image: url('../../icons8-rede-social-100.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 1%;
    }

    .image-3:hover {
        transition: 0.5s;
        height: 24px;
        width: 24px;
        background-color: #f3f5ec;
        cursor: pointer;
        border-radius: 2px;
    }
}
mat-icon{
    color: #f6fce3;
}