<div class="utils">    
    <div class="container">
        <div class="img"></div>
        <div class="navegate">
            <div class="nav-1"> <span>Home</span> </div>
            <div class="nav-2"> <span>Relatório</span> </div>
            <div class="nav-3"> <span>Home</span> </div>
            <div class="nav-4"> <span>Home</span> </div>
        </div>
        <div class="image-icos">
            <div class="image-1"></div>
            <div class="image-2"></div>
            <div class="image-3"></div>
        </div>
    </div>
</div>