<div class="utils">
    <div class="container">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="routerClick('')">
                <mat-icon>dialpad</mat-icon>
                <span>Página Inicial</span>
            </button>
            <button mat-menu-item (click)="routerClick('/relatorio-ong')">
                <mat-icon>voicemail</mat-icon>
                <span>Relatório Ong</span>
            </button>
            <button mat-menu-item (click)="routerClick('/relatorio-empresa')">
                <mat-icon>notifications_off</mat-icon>
                <span>Relatorio Empresa</span>
            </button>
        </mat-menu>
        <div class="image-icos">
            <div class="img"></div>
            <div class="image-1"></div>
            <div class="image-2"></div>
            <div class="image-3"></div>
        </div>
    </div>
</div>