<div class="container-page">
    <section class="home-page">
        <div class="cards-sidebar">
            <div class="card">
                <span class="text"> Doaçoes mensais </span>
                <span class="value"> 95 </span>
            </div>
            <div class="card">
                <span class="text"> Doaçoes Pendentes </span>
                <span class="value"> 21 </span>
            </div>
            <div class="card"> 
                <span class="text"> Valor Arrecadado </span>
                <span class="value"> 100.300,00 </span>
            </div>
            <div class="card"> 
                <span class="text"> Meta anual </span>
                <span class="value"> 66% </span>
            </div>
        </div>

        <div class="cards-grafic">
            <div class="grafic ">
                <app-grafico-1></app-grafico-1>
            </div>
            <div class="grafic ">
                <app-grafico-2></app-grafico-2>
            </div>
        </div>
    </section>
</div>