.container-page {
    width: 100%;
    height: 95%;

    section {
        height: 100%;
        justify-content: center;
        align-items: end;
        width: 100%;
        display: flex;

        .cards-sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 14%;
            justify-content: space-between;
            overflow: hidden;
            height: 89%;
            padding: 1%;
            margin-right: 5px;

            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 1rem;
                background-color: #FFF;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                font-size: 12px;
                width: 87%;
                height: 17%;
            }

            .card:hover {
                background-color: #f3f5ec;
                cursor: pointer;
                transition: 0.2s;
                width: 88%;
                height: 18%;
            }

            span {
                overflow: hidden;
                font-weight: bold;
                text-align: center;

            }

            .text {
                color: #53ba59;
            }

            .value {
                color: #ffea70;
            }
        }

        .cards-grafic {
            width: 54%;
            height: 91%;
            padding: 1%;

            .grafic {
                width: 94%;
                height: 47%;
                padding: 1rem;
                padding-top: 8px;
            }
        }
    }




}